{% extends 'base.html' %} {% block content %}
<h2>Barang dan Jasa</h2>
<hr />
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h3>Produk</h3>
      </div>
      <div class="col-6" style="justify-items: center">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="cari_produk"
            placeholder="Cari Produk"
          />
        </div>
      </div>
      <div class="col-3" style="text-align: right">
        <button class="btn btn-primary" id="tambah_barang_jasa">
          Tambah Barang/Jasa
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table
      id="tabel_barang_jasa"
      class="display table table-light table-striped-columns"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID Produk</th>
          <th>Nama Produk</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th>Stok</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    // $("#tabel_barang_jasa").DataTable({
    //   processing: true,
    //   serverSide: true,
    //   ajax: {
    //     url: "/barang-jasa/data",
    //     type: "POST",
    //   },
    //   columns: [
    //     { data: "id_produk" },
    //     { data: "nama_produk" },
    //     { data: "jenis" },
    //     { data: "harga" },
    //     { data: "stok" },
    //     {
    //       data: null,
    //       orderable: false,
    //       searchable: false,
    //       render: function (data, type, row) {
    //         return `<button class="btn btn-sm btn-primary edit-btn" onclick"${row.id}">Edit</button>
    //           <button class="btn btn-sm btn-danger delete-btn" onclick"${row.id_produk}">Hapus</button>`;
    //       },
    //     },
    //   ],
    // });
  });
</script>
{% endblock %}
