<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exotic Carwash</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- Moment -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='plugin/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugin/bootstrap/css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='plugin/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Bootstrap Datepicker -->
     <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugindatepicker/css/bootstrap-datepicker.min.css') }}"
    />
    <script src="{{ url_for('static', filename='plugin/datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <!-- Swal Fire -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugin/sweetalert2/sweetalert2.min.css') }}"
    />
    <script src="{{ url_for('static', filename='plugin/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- Font Awesome 6 via CDN -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugin/fontawesome/css/font-awesome.min.css') }}"
    />

    <!-- Datatable -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugin/datatables/datatables.min.css') }}"
    />
    <script src="{{ url_for('static', filename='plugin/datatables/datatables.min.js') }}"></script>
  </head>

  <body>
    <!-- Peringatan Pop Up -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <script>
      Swal.fire({
        icon: `{{ 'success' if category == 'success' 
                  else 'info' if category == 'info'
                  else 'warning' if category == 'warning' or category == 'unauthorized'
                  else 'error' }}`,
        title: `{{ message }}`,
        showConfirmButton: false,
        timer: 2000,
      });
    </script>
    {% endfor %} {% endif %} {% endwith %}

    <!-- Loading Page -->
    <!-- <div id="page-loading">
        <img id="page-loading-image" src="/static/img/loaging.gif" alt="Loading..."
            style="opacity: 1; border-radius:80px;">
    </div> -->

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark px-3">
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-light me-2" id="sidebarToggle">☰</button>
        <div class="d-flex flex-column">
          <span class="text-white small">{{session.person.nama}}</span>
          <span class="text-white fw-bold">{{session.person.jabatan}}</span>
        </div>
      </div>
      <span class="navbar-brand ms-3">Exotic Carwash & SPA</span>
      <button
        class="btn btn-danger"
        onclick="window.location.href='/auth/logout'"
      >
        Keluar
      </button>
    </nav>

    <div class="d-flex">
      <!-- Sidebar -->
      <div id="sidebar" class="bg-light border-end">
        <ul class="list-group list-group-flush p-2">
          <li class="list-group-item">
            <a href="/" class="nav-link">Dashboard</a>
          </li>
          {% for menu in session.get('menus', []) %} {% if menu['aktif_menu'] ==
          'T' %}
          <li class="list-group-item">
            <a href="{{ menu['link_menu'] }}" class="nav-link"
              >{{ menu['nama_menu'].title() }}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <!-- Main Content -->
      <div class="flex-grow-1 p-4" id="main-content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-auto">
      <div class="container">
        <small>&copy; 2025 | Exotic Carwash & SPA. All rights reserved.</small>
      </div>
    </footer>

    <!-- JS -->
    <script>
      document
        .getElementById("sidebarToggle")
        .addEventListener("click", function () {
          document.getElementById("sidebar").classList.toggle("d-none");
        });
    </script>

    <!-- Global Function -->
    <script>
      function formatRupiah(el) {
        let angka = el.value.replace(/[^0-9]/g, "");
        let hasil = "";
        let angkaRev = angka.split("").reverse().join("");

        for (let i = 0; i < angkaRev.length; i++) {
          if (i % 3 === 0 && i !== 0) hasil += ".";
          hasil += angkaRev[i];
        }

        console.log(hasil);

        el.value = hasil.split("").reverse().join("");
      }

      function getAngkaAsli(rupiahStr) {
        return rupiahStr.replace(/[^0-9]/g, "");
      }

      function cetakStruk(data) {
        // const content = `
        //     <html>
        //     <head>
        //     <style>
        //     @page { size: 58mm auto; margin: 0; }
        //     body { font-family: monospace; font-size: 12px; width: 56mm; margin: 0; padding: 5px; }
        //     .line { border-top: 1px dashed black; margin: 5px 0; }
        //     .item-row { display: flex; }
        //     .item-name { flex: 4; }
        //     .item-qty { flex: 1; text-align: left; }
        //     .item-price { flex: 2; text-align: right; }
        //     </style>
        //     </head>
        //     <body>
        //         <br>
        //         <div style="text-align:center;">
        //             <br>
        //             <strong>Exotic Carwash</strong><br>
        //             Jl KH Ahmad Dahlan no 6 petir Cipondoh tangerang<br>
        //             <div class="line"></div>
        //             No Transaksi: ${data.id_transaksi.slice(-4)}<br>
        //             Tanggal: ${data.tanggal}
        //             <div class="line"></div>
        //         </div>
        //         ${data.details
        //           .map(
        //             (item) => `
        //             <div class="item-row">
        //                 <div class="item-name">${item.nama_produk}</div>
        //                 <div class="item-qty">${item.jumlah}</div>
        //                 <div class="item-price">${parseInt(
        //                   item.harga
        //                 ).toLocaleString("id-ID")}</div>
        //             </div>`
        //           )
        //           .join("")}
        //         <div class="line"></div>
        //         <div style="display:flex; font-weight:bold;">
        //             <div style="flex:4;">TOTAL</div>
        //             <div style="flex:2; text-align:right;">${parseInt(
        //               data.total_harga
        //             ).toLocaleString("id-ID")}</div>
        //         </div>
        //         <br>
        //         <div style="text-align:center;">Terima kasih Atas Kunjungan Anda</div>
        //     </body>
        //     </html>
        // `;

        const content80 = `
            <html>
            <head>
            <style>
            @page { size: 80mm auto; margin: 0; }
            body { font-family: monospace; font-size: 12px; width: 78mm; margin: 0; padding: 5px; }
            .line { border-top: 1px dashed black; margin: 5px 0; }
            .item-row { display: flex; }
            .item-name { flex: 4; }
            .item-qty { flex: 1; text-align: left; }
            .item-price { flex: 2; text-align: right; }
            </style>
            </head>
            <body>
                <br>
                <div style="text-align:center;">
                    <br>
                    <strong>Exotic Carwash</strong><br>
                    Jl KH Ahmad Dahlan no 6 petir Cipondoh tangerang<br>
                    <div class="line"></div>
                    No Transaksi: ${data.id_transaksi.slice(-4)}<br>
                    Tanggal: ${data.tanggal}
                    <div class="line"></div>
                </div>
                ${data.details
                  .map(
                    (item) => `
                    <div class="item-row">
                        <div class="item-name">${item.nama_produk}</div>
                        <div class="item-qty">${item.jumlah}</div>
                        <div class="item-price">${parseInt(
                          item.harga
                        ).toLocaleString("id-ID")}</div>
                    </div>`
                  )
                  .join("")}
                <div class="line"></div>
                <div style="display:flex; font-weight:bold;">
                    <div style="flex:4;">TOTAL</div>
                    <div style="flex:2; text-align:right;">${parseInt(
                      data.total_harga
                    ).toLocaleString("id-ID")}</div>
                </div>
                <br>
                <div style="text-align:center;">Terima kasih Atas Kunjungan Anda</div>
            </body>
            </html>
        `;

        // --- DEFAULT: PC / Laptop / iOS / fallback Android ---
        let iframe = document.createElement("iframe");
        iframe.style.display = "none";
        document.body.appendChild(iframe);

        iframe.contentDocument.open();
        // iframe.contentDocument.write(content);
        iframe.contentDocument.write(content80);
        iframe.contentDocument.close();

        iframe.contentWindow.focus();
        iframe.contentWindow.print();
      }
    </script>

    {% block script %} {% endblock%}
  </body>
</html>
