{% extends 'base.html' %} {% block content %}
<h2>Transaksi</h2>
<hr />
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <label class="col-2 col-form-label" style="text-align: right"
            >Tanggal</label
          >
          <div class="col-3">
            <input
              type="text"
              class="form-control"
              name="tanggal_awal"
              id="tanggal_awal"
            />
          </div>
          <label class="col-1 col-form-label" style="text-align: center"
            >S/D</label
          >
          <div class="col-3">
            <input
              type="text"
              class="form-control"
              name="tanggal_akhir"
              id="tanggal_akhir"
            />
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="cari()"
              style="width: 75%"
            >
              Cari
            </button>
          </div>
        </div>
      </div>
      <div class="col-5" style="justify-items: center">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="cari_transaksi"
            placeholder="Cari Transaksi"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table
      id="transaksi"
      class="display table table-light table-striped-columns"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID Transaksi</th>
          <th>Tanggal</th>
          <th>Nomor Kendaraan</th>
          <th>Pembayaran</th>
          <th>Total Harga</th>
          <th style="width: 30%">Aksi</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="row">
    <div class="col"><p id="total_cash" style="text-align: center"></p></div>
    <div class="col">
      <p id="total_transfer" style="text-align: center"></p>
    </div>
    <div class="col"><p id="total_belum" style="text-align: center"></p></div>
  </div>
</div>

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form id="editForm">
        <div class="modal-header">
          <h5 class="modal-title">Edit Transaksi</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <label
              for="edit_id_transaksi"
              class="col-sm-2 col-form-label"
              style="text-align: right"
              >Id Transaksi</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="edit_id_transaksi"
                name="id_transaksi"
                readonly
                disabled
              />
            </div>
            <label
              for="edit_tanggal"
              class="col-sm-2 col-form-label"
              style="text-align: right"
              >Tanggal</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="edit_tanggal"
                name="tanggal"
                readonly
                disabled
              />
            </div>
          </div>
          <div class="row mb-3">
            <label
              for="edit_nopol"
              class="col-sm-2 col-form-label"
              style="text-align: right"
              >Nomor Kendaraan</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="edit_nopol"
                name="nopol"
                readonly
                disabled
              />
            </div>
            <label
              for="edit_total_harga"
              class="col-sm-2 col-form-label"
              style="text-align: right"
              >Total Harga</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="edit_total_harga"
                readonly
                disabled
              />
            </div>
          </div>
          <div class="row">
            <label
              for="edit_status_bayar"
              class="col-sm-3 col-form-label"
              style="text-align: right"
              >Pembayaran</label
            >
            <div class="col-sm-7">
              <select class="form-select" id="edit_status_bayar">
                <option value="BB">Belum Bayar</option>
                <option value="CS">Cash</option>
                <option value="TF">Transfer</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="simpanEdit()">
            Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    const jabatan = "{{session.person.jabatan}}";
    $("#tanggal_awal").val(moment().format("DD-MMM-YYYY"));
    $("#tanggal_akhir").val(moment().format("DD-MMM-YYYY"));

    const table_transaksi = $("#transaksi").DataTable({
      dom: "lrtip", // hilangkan search default
      scrollY: "400px",
      scrollCollapse: true,
      paging: false,
      processing: true,
      serverSide: false, // jika ingin server-side true, tinggal ubah ini dan backendnya
      ajax: {
        url: "/transaksi/data",
        type: "POST",
        data: function (d) {
          d.tanggal_awal = $("#tanggal_awal").val();
          d.tanggal_akhir = $("#tanggal_akhir").val();
        },
      },
      columns: [
        { data: "id_transaksi" },
        { data: "tanggal" },
        { data: "nopol" },
        {
          data: "status_bayar",
          render: function (data) {
            if (data == "CS") {
              return "CASH";
            } else if (data == "TF") {
              return "TRANSFER";
            } else {
              return "BELUM BAYAR";
            }
          },
        },
        {
          data: "total_harga",
          render: function (data) {
            return parseInt(data).toLocaleString("id-ID");
          },
        },
        {
          data: null,
          orderable: false,
          searchable: false,
          render: function (data, type, row) {
            let btns = `
            <button class="btn btn-sm btn-primary btn-detail">Detail</button>
            <button class="btn btn-sm btn-secondary btn-pelanggan">Pelanggan</button>`;
            if ("DEV OWNER ADMIN".includes(jabatan)) {
              if (row.status_bayar === "BB") {
                btns += `
                  <button class="btn btn-sm btn-warning edit-btn"
                    data-id="${row.id_transaksi}"
                    data-tanggal="${row.tanggal}"
                    data-nopol="${row.nopol}"
                    data-status="${row.status_bayar}"
                    data-harga="${row.total_harga}"
                    data-details="${row.details}"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal">Edit</button>`;
              } else {
                btns += `
                  <button class="btn btn-sm btn-success btn-cetak"
                    data-id="${row.id_transaksi}">Cetak Ulang</button>`;
              }
            }
            return btns;
          },
        },
      ],
      language: {
        decimal: "",
        emptyTable: "Tidak ada data yang tersedia pada tabel ini",
        info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
        infoEmpty: "Menampilkan 0 sampai 0 dari 0 data",
        infoFiltered: "(disaring dari _MAX_ total data)",
        lengthMenu: "Tampilkan _MENU_ data",
        loadingRecords: "Memuat...",
        processing: "Memproses...",
        search: "Cari:",
        zeroRecords: "Tidak ditemukan data yang sesuai",
        aria: {
          sortAscending: ": aktifkan untuk mengurutkan kolom secara menaik",
          sortDescending: ": aktifkan untuk mengurutkan kolom secara menurun",
        },
      },
      drawCallback: function (settings) {
        let api = this.api(); // ✅ ambil instance DataTable
        let data = api.rows({ search: "applied" }).data().toArray();

        let totalCash = 0,
          totalTransfer = 0,
          totalBelum = 0;
        let jmlCash = 0,
          jmlTransfer = 0,
          jmlBelum = 0;

        data.forEach((row) => {
          if (row.status_bayar === "CS") {
            totalCash += row.total_harga;
            jmlCash++;
          } else if (row.status_bayar === "TF") {
            totalTransfer += row.total_harga;
            jmlTransfer++;
          } else {
            totalBelum += row.total_harga;
            jmlBelum++;
          }
        });
        // Update ke elemen HTML
        $("#total_cash").text(
          `CASH : ${jmlCash} transaksi - Rp ${totalCash.toLocaleString(
            "id-ID"
          )}`
        );
        $("#total_transfer").text(
          `TRANSFER : ${jmlTransfer} transaksi - Rp ${totalTransfer.toLocaleString(
            "id-ID"
          )}`
        );
        $("#total_belum").text(
          `BELUM BAYAR : ${jmlBelum} transaksi - Rp ${totalBelum.toLocaleString(
            "id-ID"
          )}`
        );
      },
    });

    $.fn.dataTable.ext.search.push((settings, data) => {
      const val = $("#cari_transaksi").val().toUpperCase();
      return (
        !val ||
        data[0].toUpperCase().includes(val) ||
        data[1].toUpperCase().includes(val) ||
        data[2].toUpperCase().includes(val) ||
        data[3].toUpperCase().includes(val)
      );
    });

    $("#cari_transaksi").on("keyup", () => table_transaksi.draw());

    $("#transaksi tbody").on("click", ".btn-detail", function () {
      var tr = $(this).closest("tr");
      var row = table_transaksi.row(tr);

      if (row.child.isShown()) {
        // Tutup
        row.child.hide();
        tr.removeClass("shown");
      } else {
        // Buka detail
        row.child(format(row.data())).show();
        tr.addClass("shown");
      }
    });

    // fungsi format detail
    function format(d) {
      let html = `
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th style="width: 30%;">Nama Produk</th>
                    <th style="width: 15%;">Jenis</th>
                    <th style="width: 10%;">Jumlah</th>
                    <th style="width: 15%;">Harga</th>
                    <th style="width: 15%;">Total</th>
                    <th style="width: 15%;">Worker</th>
                </tr>
            </thead>
            <tbody>
    `;

      d.details.forEach((item) => {
        html += `
            <tr>
                <td style="width: 30%;">${item.nama_produk}</td>
                <td style="width: 15%;">${item.jenis}</td>
                <td style="width: 10%;">${item.jumlah}</td>
                <td style="width: 15%;">${item.harga.toLocaleString()}</td>
                <td style="width: 15%;">${item.total.toLocaleString()}</td>
                <td style="width: 15%;">${item.worker ?? ""}</td>
            </tr>
        `;
      });

      html += "</tbody></table>";
      return html;
    }

    $("#transaksi tbody").on("click", ".btn-pelanggan", function () {
      var tr = $(this).closest("tr");
      var row = table_transaksi.row(tr);

      if (row.child.isShown()) {
        // Tutup detail
        row.child.hide();
        tr.removeClass("shown");
      } else {
        // Buka detail
        row.child(formatPelanggan(row.data())).show();
        tr.addClass("shown");
      }
    });

    // Fungsi format detail pelanggan
    function formatPelanggan(d) {
      let html = `
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th style="width: 20%;">No Polisi</th>
                    <th style="width: 30%;">Nama Pelanggan</th>
                    <th style="width: 25%;">Nama Kendaraan</th>
                    <th style="width: 25%;">No HP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${d.pelanggan.nopol}</td>
                    <td>${d.pelanggan.nama_pelanggan}</td>
                    <td>${d.pelanggan.nama_kendaraan}</td>
                    <td>${d.pelanggan.no_hp}</td>
                </tr>
            </tbody>
        </table>
    `;
      return html;
    }

    $("#transaksi").on("click", ".btn-cetak", function () {
      let data = table_transaksi.row($(this).closest("tr")).data();
      cetakStruk(data);
    });

    $("#transaksi").on("click", ".edit-btn", function () {
      const btn = $(this);
      $("#edit_id_transaksi").val(btn.data("id"));
      $("#edit_tanggal").val(btn.data("tanggal"));
      $("#edit_nopol").val(btn.data("nopol"));
      $("#edit_status_bayar").val(btn.data("status"));
      $("#edit_total_harga").val(
        parseInt(btn.data("harga")).toLocaleString("id-ID")
      );
    });
  });

  function cari() {
    $("#transaksi").DataTable().ajax.reload();
  }

  async function simpanEdit() {
    let id_transaksi = $("#edit_id_transaksi").val();
    let status_bayar = $("#edit_status_bayar").val();

    if (status_bayar == "BB") {
      Swal.fire({
        icon: `warning`,
        title: `Pembayaran Tidak Berubah !!!`,
        showConfirmButton: false,
        timer: 2000,
      });
      return;
    }

    Swal.fire({
      title: "Yakin?",
      text: `Ingin menyimpan transaksi ${id_transaksi} ?`,
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Iya, Simpan !!!",
      cancelButtonText: "Batal",
    }).then((result) => {
      $.ajax({
        url: "/transaksi/update-transaksi", // Endpoint Flask
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ id_transaksi, status_bayar }),
        success: async function (response) {
          if (response.status) {
            await Swal.fire({
              icon: `success`,
              title: response.message,
              showConfirmButton: false,
              timer: 2000,
            });
            await $("#transaksi").DataTable().ajax.reload();
            $("#editModal").modal("hide");
          } else {
            Swal.fire({
              icon: `warning`,
              title: response.message,
              showConfirmButton: false,
              timer: 2000,
            });
          }
        },
        error: function (xhr) {
          Swal.fire({
            icon: `warning`,
            title: `Terjadi kesalahan saat mengupdate transaksi !!!`,
            showConfirmButton: false,
            timer: 2000,
          });
        },
      });
    });
  }
</script>
{% endblock %}
